---
# Checkers
Checks: >
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  bugprone-*,
  misc-*,

  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-explicit-conversions,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -performance-no-int-to-ptr,
  
  -modernize-use-trailing-return-type,
  -modernize-concat-nested-namespaces,

  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-named-parameter,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-uppercase-literal-suffix,
  -readability-magic-numbers,
  -readability-convert-member-functions-to-static,
  -readability-make-member-function-const,
  -readability-use-concise-preprocessor-directives,
  -readability-redundant-access-specifiers,
  -readability-identifier-naming,
  -readability-const-return-type,

  -bugprone-easily-swappable-parameters,
  -bugprone-crtp-constructor-accessibility,
  -bugprone-reserved-identifier,
  -bugprone-throwing-static-initialization,

  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  -misc-unused-parameters,
  -misc-no-recursion,

  -performance-enum-size

# Treat all enabled warnings as errors
WarningsAsErrors: ""

HeaderFilterRegex: '.*Nexium/sources/.*'

FormatStyle: file