---
# Checkers
Checks: >
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  bugprone-*,
  misc-*,

  -bugprone-crtp-constructor-accessibility,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  -bugprone-throwing-static-initialization,
  
  -clang-diagnostic-error,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-explicit-conversions,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  
  -misc-include-cleaner,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -misc-unused-parameters,
  
  -modernize-concat-nested-namespaces,
  -modernize-use-trailing-return-type,
  
  -performance-enum-size,
  -performance-no-int-to-ptr,
  
  -readability-avoid-nested-conditional-operator,
  -readability-braces-around-statements,
  -readability-const-return-type,
  -readability-convert-member-functions-to-static,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-identifier-naming,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-make-member-function-const,
  -readability-math-missing-parentheses,
  -readability-named-parameter,
  -readability-redundant-access-specifiers,
  -readability-simplify-boolean-expr,
  -readability-uppercase-literal-suffix,
  -readability-use-concise-preprocessor-directives

# Treat all enabled warnings as errors
WarningsAsErrors: "modernize-avoid-c-arrays,
  bugprone-use-after-move,
  bugprone-integer-division,
  bugprone-undefined-memory-manipulation,
  bugprone-dangling-handle,
  bugprone-use-after-free,
  bugprone-unused-return-value,
  bugprone-signed-char-misuse,
  bugprone-suspicious-memory-comparison,
  bugprone-string-constructor,
  bugprone-fold-init-type,
  bugprone-move-forwarding-reference,
  clang-analyzer-core.*,
  clang-analyzer-cplusplus.NewDeleteLeaks,
  clang-analyzer-cplusplus.NewDelete,
  clang-analyzer-deadcode.DeadStores,
  cppcoreguidelines-pro-type-cstyle-cast,
  cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  misc-override-with-different-visibility,
  cppcoreguidelines-special-member-functions"

HeaderFilterRegex: '.*Nexium/sources/.*'

FormatStyle: file